@import '@fontsource/pacifico';
@import '@fontsource-variable/inter';
@import './lib/css/reset.css';

:root {
	/* TODO: not the right font */
	--font-script: 'Pacifico', 'Brush Script MT', cursive;
	--font-sans-serif: 'Inter Variable', 'Tahoma', 'Verdana', 'Helvetica', 'Arial', sans-serif;
	--font-headings: var(--font-sans-serif);
	--font-body: var(--font-sans-serif);

	--font-size-s: 0.9rem;
	--font-size-l: 1.6rem;
	--font-size-xl: 2rem;
	--font-size-2xl: 2.4rem;
	--font-size-3xl: 3rem;

	--font-weight-l: 500;
	--font-weight-xl: 700;
	--font-weight-2xl: 800;
	--font-weight-3xl: 1000;

	--color-bg: rgb(255 240 241);
	--color-1: rgb(33 28 64);
	--color-2: rgb(102 97 132);
	--color-3: rgb(13 25 47);
	--color-4: rgb(115 40 255);
	--color-5: rgb(83 176 68);

	--spacing-3xs: 8px;
	--spacing-2xs: 16px;
	--spacing-xs: 24px;
	--spacing-s: 36px;
	--spacing-m: 48px;
	--spacing-l: 60px;
	--spacing-xl: 80px;
	--spacing-2xl: 100px;
	--spacing-3xl: 120px;

	--content-width: 1140px;

	font-family: var(--font-body);
	color: var(--color-2);
}

body {
	background: var(--color-bg);
	font-size: var(--font-size-s);
	color: var(--color-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-1);
	line-height: normal;
}

a {
	color: var(--color-1);
	font-weight: var(--font-weight-l);
}

a:hover {
	color: var(--color-2);
	text-decoration: underline;
}
